footer {
  margin-bottom: 20px;
}
.join-us {
  background: -webkit-linear-gradient(#558ba7, #8cacb7);
  background: -o-linear-gradient(#558ba7, #8cacb7);
  background: -moz-linear-gradient(#558ba7, #8cacb7);
  background: linear-gradient(#558ba7, #8cacb7);
  text-align: center;
  padding: 20px 0;
}
.join-us h1,
.join-us h2 {
  text-decoration: none;
  color: #ffffff;
}
.join-us h2 {
  font-weight: 100;
  margin-top: -10px;
}
footer .logo img {
  width: 150px;
  height: 150px;
  margin: 20px 0 0 35px;
}
